---
/* src/pages/la-firma.astro */

import Layout from '../layouts/Layout.astro';

import HeroLaFirma from '../components/la-firma/hero-la-firma.astro';
import FilosofiaOperativa from '../components/la-firma/filosofia-operativa.astro';
import CriterioAutor from '../components/la-firma/criterio-de-autor.astro';
import ArquitecturaInstitucional from '../components/la-firma/arquitectura-institucional.astro';
---

<Layout title="La Firma | Bahos & Burbano">
  <main>
    
    <HeroLaFirma />

    <FilosofiaOperativa />

    <CriterioAutor />

    <ArquitecturaInstitucional />

  </main>
</Layout>