---
// src/components/LogoFirma.astro
---

<a href="/" class="logo-legal logo-container group" aria-label="Volver al inicio" title="Inicio – Bahos & Burbano">
  <div class="monogram-wrapper">
    <svg aria-hidden="true" focusable="false" viewBox="0 0 194 120" fill="none" xmlns="http://www.w3.org/2000/svg" style="width: 55px; height: auto;">
      <path d="M136.87 59.7C136.87 63.65 136.67 67.625 136.27 71.625C135.92 75.575 135.195 79.425 134.095 83.175C133.045 86.925 131.57 90.5 129.67 93.9C127.82 97.3 125.395 100.4 122.395 103.2H129.295L138.295 115.275H121.645L115.945 108C112.195 110.5 108.095 112.3 103.645 113.4C99.2449 114.5 94.6449 115.05 89.8449 115.05C84.6949 115.05 80.0449 114.125 75.8949 112.275C71.7449 110.375 68.1949 107.825 65.2449 104.625C62.3449 101.425 60.0949 97.725 58.4949 93.525C56.9449 89.325 56.1699 84.9 56.1699 80.25C56.1699 75.5 56.7949 71.3 58.0449 67.65C59.3449 63.95 60.9949 60.775 62.9949 58.125C64.9949 55.425 67.1699 53.225 69.5199 51.525C71.8699 49.825 74.1449 48.55 76.3449 47.7C75.3949 46.3 74.4199 44.7 73.4199 42.9C72.4699 41.05 71.5949 39.15 70.7949 37.2C70.0449 35.25 69.4199 33.275 68.9199 31.275C68.4199 29.275 68.1699 27.375 68.1699 25.575C68.1699 21.975 68.6449 18.625 69.5949 15.525C70.5949 12.425 72.1699 9.725 74.3199 7.425C76.4699 5.125 79.2449 3.325 82.6449 2.025C86.0449 0.674999 90.1449 0 94.9449 0C98.2449 0 101.195 0.45 103.795 1.35C106.445 2.2 108.795 3.3 110.845 4.65C112.945 5.95 114.77 7.4 116.32 9C117.92 10.55 119.295 12.025 120.445 13.425L114.445 23.775C113.695 22.475 112.745 21.125 111.595 19.725C110.445 18.325 109.045 17.05 107.395 15.9C105.795 14.7 103.895 13.725 101.695 12.975C99.5449 12.225 97.0949 11.85 94.3449 11.85C91.9449 11.85 89.9199 12.325 88.2699 13.275C86.6699 14.225 85.3699 15.4 84.3699 16.8C83.3699 18.2 82.6449 19.7 82.1949 21.3C81.7949 22.9 81.5949 24.35 81.5949 25.65C81.5949 27.1 81.8449 28.675 82.3449 30.375C82.5449 31.125 82.9199 32.075 83.4699 33.225C84.0699 34.375 84.8949 35.9 85.9449 37.8C87.0449 39.65 88.4449 41.975 90.1449 44.775C91.8449 47.525 93.9199 50.9 96.3699 54.9C98.8699 58.85 101.77 63.5 105.07 68.85C108.42 74.2 112.27 80.375 116.62 87.375C117.82 85.675 118.77 83.9 119.47 82.05C120.22 80.2 120.795 78.225 121.195 76.125C121.645 74.025 121.945 71.775 122.095 69.375C122.245 66.925 122.32 64.225 122.32 61.275L136.87 59.7ZM80.5449 61.275C77.3949 62.725 74.8949 64.925 73.0449 67.875C71.2449 70.825 70.3449 74.7 70.3449 79.5C70.3449 83.1 70.9949 86.25 72.2949 88.95C73.5949 91.65 75.2449 93.9 77.2449 95.7C79.2949 97.5 81.5699 98.85 84.0699 99.75C86.6199 100.6 89.1449 101.025 91.6449 101.025C93.7949 101.025 95.6949 100.9 97.3449 100.65C98.9949 100.4 100.445 100.075 101.695 99.675C102.945 99.225 104.045 98.725 104.995 98.175C105.995 97.575 106.895 96.925 107.695 96.225L80.5449 53.775V61.275Z" fill="var(--color-oro-noble)"/>
      <path d="M173.89 88.7749H136V28.4749H172.18C184.51 28.4749 191.17 33.6949 191.17 43.1449C191.17 50.6149 187.21 56.0149 177.13 56.7349V57.5449C188.29 58.3549 193.69 63.9349 193.69 72.0349C193.69 82.2949 187.39 88.7749 173.89 88.7749ZM149.5 40.6249V52.4149H170.65C175.6 52.4149 177.67 50.7049 177.67 46.5649C177.67 42.4248 175.51 40.6249 170.47 40.6249H149.5ZM149.5 63.5749V76.6249H172.27C177.76 76.6249 180.01 74.9149 180.01 70.0549C180.01 65.2849 177.76 63.5749 172.27 63.5749H149.5Z" fill="var(--color-oro-noble)"/>
      <path d="M37.89 88.7749H0V28.4749H36.18C48.51 28.4749 55.17 33.6949 55.17 43.1449C55.17 50.6149 51.21 56.0149 41.13 56.7349V57.5449C52.29 58.3549 57.69 63.9349 57.69 72.0349C57.69 82.2949 51.39 88.7749 37.89 88.7749ZM13.5 40.6249V52.4149H34.65C39.6 52.4149 41.67 50.7049 41.67 46.5649C41.67 42.4248 39.51 40.6249 34.47 40.6249H13.5ZM13.5 63.5749V76.6249H36.27C41.76 76.6249 44.01 74.9149 44.01 70.0549C44.01 65.2849 41.76 63.5749 36.27 63.5749H13.5Z" fill="var(--color-oro-noble)"/>
    </svg>
  </div>

  <span class="logo-divider" aria-hidden="true"></span>

  <div class="name-reveal">
    <svg aria-hidden="true" focusable="false" viewBox="0 0 460 39" fill="none" xmlns="http://www.w3.org/2000/svg" class="logo-name">
      <path d="M21.05 35.6948H0V2.19482H20.1C26.95 2.19482 30.65 5.09482 30.65 10.3448C30.65 14.4948 28.45 17.4948 22.85 17.8948V18.3448C29.05 18.7948 32.05 21.8948 32.05 26.3948C32.05 32.0948 28.55 35.6948 21.05 35.6948ZM7.5 8.94482V15.4948H19.25C22 15.4948 23.15 14.5448 23.15 12.2448C23.15 9.94482 21.95 8.94482 19.15 8.94482H7.5ZM7.5 21.6948V28.9448H20.15C23.2 28.9448 24.45 27.9948 24.45 25.2948C24.45 22.6448 23.2 21.6948 20.15 21.6948H7.5Z" fill="var(--color-bosque)"/>
      <path d="M46.518 36.1948C41.118 36.1948 37.868 33.6948 37.868 29.4948C37.868 25.7948 40.618 23.4948 45.968 22.9448L56.718 21.8448V20.8948C56.718 17.6448 55.268 16.7448 51.268 16.7448C47.468 16.7448 45.918 17.7448 45.918 20.5948V20.7948H38.368V20.6448C38.368 14.4448 43.568 10.1448 51.818 10.1448C60.168 10.1448 64.118 14.4448 64.118 20.9948V35.6948H57.118V29.9448H56.718C55.568 33.8448 52.068 36.1948 46.518 36.1948ZM45.418 28.9948C45.418 30.3448 46.468 30.8948 48.668 30.8948C53.768 30.8948 56.518 29.6948 56.718 26.1448L48.018 27.1448C46.218 27.2948 45.418 27.7948 45.418 28.9948Z" fill="var(--color-bosque)"/>
      <path d="M79.4195 35.6948H71.9195V2.19482H79.4195V18.2948H79.8195C80.6195 14.0448 83.5695 10.1448 89.9695 10.1448C96.7195 10.1448 100.02 14.5448 100.02 20.3448V35.6948H92.5195V22.5948C92.5195 18.3948 90.7195 16.8948 86.0195 16.8948C80.9695 16.8948 79.4195 18.9448 79.4195 23.1448V35.6948Z" fill="var(--color-bosque)"/>
      <path d="M121.154 36.1948C112.604 36.1948 106.854 31.0948 106.854 23.1948C106.854 15.1948 112.604 10.1448 121.154 10.1448C129.704 10.1448 135.454 15.1948 135.454 23.1948C135.454 31.0948 129.704 36.1948 121.154 36.1948ZM121.154 29.5448C126.204 29.5448 128.004 27.5948 128.004 23.1948C128.004 18.7948 126.204 16.7448 121.154 16.7448C116.054 16.7448 114.304 18.7948 114.304 23.1948C114.304 27.5948 116.054 29.5448 121.154 29.5448Z" fill="var(--color-bosque)"/>
      <path d="M155.167 36.1948C146.717 36.1948 142.067 32.8948 142.067 27.0948V26.9448H149.567V27.3948C149.567 29.6448 150.967 30.2448 155.217 30.2448C159.217 30.2448 160.167 29.5948 160.167 28.0948C160.167 26.6948 159.417 26.2948 156.467 25.8948L149.417 25.0448C144.417 24.4948 141.617 22.2448 141.617 18.0448C141.617 13.6448 145.367 10.1448 153.967 10.1448C162.167 10.1448 166.817 13.2448 166.817 19.3448V19.4948H159.317V19.1948C159.317 17.1448 158.317 16.0948 153.717 16.0948C149.967 16.0948 149.017 16.7448 149.017 18.3448C149.017 19.6448 149.717 20.1948 153.017 20.5948L158.367 21.2448C165.067 21.9948 167.567 24.2448 167.567 28.3948C167.567 33.0948 162.917 36.1948 155.167 36.1948Z" fill="var(--color-bosque)"/>
      <path d="M242.353 35.6948H221.303V2.19482H241.403C248.253 2.19482 251.953 5.09482 251.953 10.3448C251.953 14.4948 249.753 17.4948 244.153 17.8948V18.3448C250.353 18.7948 253.353 21.8948 253.353 26.3948C253.353 32.0948 249.853 35.6948 242.353 35.6948ZM228.803 8.94482V15.4948H240.553C243.303 15.4948 244.453 14.5448 244.453 12.2448C244.453 9.94482 243.253 8.94482 240.453 8.94482H228.803ZM228.803 21.6948V28.9448H241.453C244.503 28.9448 245.753 27.9948 245.753 25.2948C245.753 22.6448 244.503 21.6948 241.453 21.6948H228.803Z" fill="var(--color-bosque)"/>
      <path d="M270.471 36.1948C263.421 36.1948 260.071 31.8448 260.071 26.2448V10.6448H267.571V23.7448C267.571 27.7948 269.271 29.4948 274.021 29.4948C278.921 29.4948 280.671 27.5948 280.671 23.3448V10.6448H288.171V35.6948H281.171V28.0448H280.771C280.121 32.2448 277.071 36.1948 270.471 36.1948Z" fill="var(--color-bosque)"/>
      <path d="M303.505 35.6948H296.005V10.6448H302.955V17.2948H303.405C304.105 13.2448 306.755 10.1448 311.805 10.1448C317.405 10.1448 319.705 13.9948 319.705 18.8948V23.0448H312.205V20.4448C312.205 17.6948 311.105 16.4948 308.055 16.4948C304.705 16.4948 303.505 18.0448 303.505 21.1948V35.6948Z" fill="var(--color-bosque)"/>
      <path d="M333.371 35.6948H326.421V2.19482H333.921V17.2948H334.321C335.171 13.0948 338.221 10.1448 344.171 10.1448C351.671 10.1448 355.871 15.1948 355.871 23.1948C355.871 31.0948 351.621 36.1948 343.821 36.1948C338.021 36.1948 334.721 33.6948 333.821 28.7448H333.371V35.6948ZM333.921 23.3448C333.921 27.6948 336.471 29.3448 341.221 29.3448C346.071 29.3448 348.271 27.7448 348.271 23.1948C348.271 18.5948 346.071 16.9948 341.271 16.9948C336.421 16.9948 333.921 18.5948 333.921 22.9448V23.3448Z" fill="var(--color-bosque)"/>
      <path d="M370.69 36.1948C365.29 36.1948 362.04 33.6948 362.04 29.4948C362.04 25.7948 364.79 23.4948 370.14 22.9448L380.89 21.8448V20.8948C380.89 17.6448 379.44 16.7448 375.44 16.7448C371.64 16.7448 370.09 17.7448 370.09 20.5948V20.7948H362.54V20.6448C362.54 14.4448 367.74 10.1448 375.99 10.1448C384.34 10.1448 388.29 14.4448 388.29 20.9948V35.6948H381.29V29.9448H380.89C379.74 33.8448 376.24 36.1948 370.69 36.1948ZM369.59 28.9948C369.59 30.3448 370.64 30.8948 372.84 30.8948C377.94 30.8948 380.69 29.6948 380.89 26.1448L372.19 27.1448C370.39 27.2948 369.59 27.7948 369.59 28.9948Z" fill="var(--color-bosque)"/>
      <path d="M403.591 35.6948H396.091V10.6448H403.041V18.3448H403.491C404.141 14.1448 407.141 10.1448 413.691 10.1448C420.541 10.1448 423.791 14.5448 423.791 20.0948V35.6948H416.291V22.5948C416.291 18.5948 414.641 16.8948 410.041 16.8948C405.291 16.8948 403.591 18.7948 403.591 23.0448V35.6948Z" fill="var(--color-bosque)"/>
      <path d="M444.936 36.1948C436.386 36.1948 430.636 31.0948 430.636 23.1948C430.636 15.1948 436.386 10.1448 444.936 10.1448C453.486 10.1448 459.236 15.1948 459.236 23.1948C459.236 31.0948 453.486 36.1948 444.936 36.1948ZM444.936 29.5448C449.986 29.5448 451.786 27.5948 451.786 23.1948C451.786 18.7948 449.986 16.7448 444.936 16.7448C439.836 16.7448 438.086 18.7948 438.086 23.1948C438.086 27.5948 439.836 29.5448 444.936 29.5448Z" fill="var(--color-bosque)"/>
      <path d="M208.504 19.3958C208.504 21.0632 208.368 22.6029 208.096 24.0151C207.824 25.4102 207.458 26.6863 206.999 27.8432C206.539 28.9832 205.995 30.004 205.365 30.9057C204.753 31.7904 204.098 32.5476 203.4 33.1771H205.365L209.551 38.7151H199.878L197.939 35.7292L197.02 38.0005C196.629 38.1026 196.229 38.1962 195.82 38.2812C195.429 38.3663 195.012 38.4429 194.57 38.5109C194.145 38.579 193.677 38.63 193.166 38.6641C192.673 38.6981 192.12 38.7151 191.507 38.7151C189.585 38.7151 187.849 38.3918 186.301 37.7453C184.753 37.0818 183.426 36.2055 182.32 35.1167C181.231 34.0108 180.389 32.7347 179.793 31.2885C179.215 29.8253 178.926 28.2941 178.926 26.6948C178.926 25.3677 179.113 24.1512 179.487 23.0453C179.861 21.9394 180.346 20.9526 180.942 20.0849C181.537 19.2002 182.201 18.4345 182.932 17.788C183.681 17.1245 184.421 16.58 185.153 16.1547C184.863 15.6613 184.574 15.1253 184.285 14.5469C183.996 13.9684 183.732 13.3814 183.494 12.7859C183.273 12.1734 183.086 11.578 182.932 10.9995C182.796 10.404 182.728 9.85104 182.728 9.34062C182.728 8.0816 182.915 6.89062 183.29 5.76771C183.681 4.62778 184.294 3.63247 185.127 2.78177C185.961 1.93108 187.033 1.25903 188.343 0.765627C189.67 0.255209 191.269 0 193.141 0C194.451 0 195.599 0.153125 196.586 0.459375C197.59 0.748612 198.483 1.14844 199.266 1.65886C200.048 2.15226 200.746 2.73073 201.358 3.39427C201.988 4.0408 202.592 4.72986 203.17 5.46146L199.572 10.2083C199.096 9.57882 198.645 9.02587 198.219 8.54948C197.794 8.07309 197.352 7.67326 196.892 7.35C196.45 7.02674 195.965 6.78854 195.438 6.63542C194.927 6.46528 194.349 6.38021 193.702 6.38021C193.09 6.38021 192.596 6.48229 192.222 6.68646C191.848 6.87361 191.55 7.11181 191.329 7.40104C191.125 7.69028 190.98 8.01354 190.895 8.37083C190.827 8.71111 190.793 9.04288 190.793 9.36615C190.793 9.57031 190.801 9.78299 190.818 10.0042C190.852 10.2083 190.903 10.4125 190.971 10.6167C191.057 10.9569 191.21 11.3568 191.431 11.8161C191.669 12.2755 192.009 12.888 192.452 13.6536C192.911 14.4023 193.49 15.3465 194.187 16.4865C194.902 17.6264 195.778 19.0385 196.816 20.7229C197.139 21.2503 197.403 21.6842 197.607 22.0245C197.811 22.3477 198.024 22.6795 198.245 23.0198C198.466 23.3601 198.713 23.7599 198.985 24.2193C199.274 24.6616 199.657 25.2656 200.133 26.0312C200.372 25.725 200.559 25.3252 200.695 24.8318C200.814 24.3724 200.865 23.5727 200.848 22.4328V19.9062L208.504 19.3958ZM188.088 20.5698V23.0708C187.509 23.9726 187.22 25.104 187.22 26.4651C187.22 27.4519 187.365 28.3111 187.654 29.0427C187.96 29.7743 188.343 30.3868 188.802 30.8802C189.279 31.3566 189.806 31.7224 190.384 31.9776C190.963 32.2158 191.533 32.3349 192.094 32.3349C192.809 32.3349 193.387 32.2498 193.83 32.0797C194.289 31.8925 194.689 31.6714 195.029 31.4161L188.088 20.5698Z" fill="var(--color-bosque)"/>
    </svg>
  </div>
</a>

<style>
/* 1. Contenedor Maestro: Estático y Solemne */
.logo-container {
  display: flex;
  align-items: center;
  text-decoration: none;
  height: 75px;
  width: fit-content;
  cursor: pointer;
  outline: none;
  /* El logo es ahora una pieza inamovible de mármol institucional */
}

/* 2. Wrappers Internos: Estabilidad sin cortes */
.monogram-wrapper {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  /* CORRECCIÓN: Se eliminó 'contain: layout paint' para permitir que el SVG respire */
}

.name-reveal {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  /* Mantenemos overflow visible para que el nombre se vea nítido */
  overflow: visible; 
}

/* 3. Divisor: Simetría axial */
.logo-divider {
  width: 1px;
  height: 22px;
  background: var(--color-bosque);
  opacity: 0.6;
  margin: -5px 18px 0 18px;
}

/* 4. Nombre de la Firma: Calibración óptica */
.logo-name {
  height: 15px;
  width: auto;
  display: block;
  flex-shrink: 0;
  margin-top: -2.5px;
}

/* 5. Blindaje de Foco: Accesibilidad 500% */
.logo-container:focus-visible {
  outline: 2px solid var(--color-oro-noble);
  outline-offset: 8px;
  border-radius: 2px;
}

/* 6. Adaptación Móvil */
@media (max-width: 640px) {
  .logo-container { height: 44px; }
  .monogram-wrapper svg { width: 27px; }
  .logo-divider { height: 16px; margin: -2px 10px 0 10px; }
  .logo-name { height: 9px; margin-top: 0.5px; }
}
</style>